/* LAYOUT STYLES */
body {
    margin: 0px;
    overflow-x: hidden;
}

#main {
    min-height: calc(100vh - 294px);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.page-container {
    width: calc(100% - 380px);
    margin: 15px 15px 0px 15px;
    padding-left: 350px;
}

.page-container > p {
    margin-left: 15px;
}

.page-container p:first-of-type {
    margin-top: 0px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15px;
}

.gallery-item {
    max-width: 47%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;

    border: 1px solid rgb(29, 29, 29);
}

footer, footer a {
    color: white;
}

footer .skew {
    padding: 10px 0px 10px 0px;
}

.footer-links {
    list-style-type: none;
    padding: unset;
    display: flex;
}

.footer-links li {
    padding-left: 10px;
}

@media screen and (max-width: 900px) {
    #main {
        min-height: calc(100vh - 336px);
    }

    .page-container {
        width: calc(100% - 40px);
        margin: unset;
        padding-left: unset;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .gallery-item {
        max-width: 100%;
    }
}