<!-- BEGIN DIAGRAMS PAGE -->
<div class="page-container">
    <component data-props='{
        "url": "views/components/page-header.html",
        "props": {
            "title": "Diagrams"
        }
    }'></component>
    <div class="gallery">
        <component data-props='{
            "url": "views/components/diagram.html",
            "props": {
                "title": "User",
                "ord": "nosql-data-diagrams/ORD-week-1.jpg",
                "nosql": "nosql-data-diagrams/NoSQL-week-1.jpg"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/diagram.html",
            "props": {
                "title": "Customer/Invoice",
                "ord": "nosql-data-diagrams/ORD-week-2.jpg",
                "nosql": "nosql-data-diagrams/NoSQL-week-2.jpg"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/diagram.html",
            "props": {
                "title": "Student/Class/Enroll",
                "ord": "nosql-data-diagrams/ORD-week-2 2.jpg",
                "nosql": "nosql-data-diagrams/NoSQL-week-2 2.jpg"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/diagram.html",
            "props": {
                "title": "User/Role/Permission",
                "ord": "nosql-data-diagrams/ORD-week-3.jpg",
                "nosql": "nosql-data-diagrams/NoSQL-week-3.jpg"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/three-doc-diagram.html",
            "props": {
                "title": "Book/Author/Publisher",
                "ord": "nosql-data-diagrams/ORD-week-3 2.jpg",
                "nosql": "nosql-data-diagrams/NoSQL-data-structure-week-3.jpg",
                "nosqldoc": "nosql-data-diagrams/NoSQL-document-diagram-week-3.jpg"
            }
        }'
        ></component>
    </div>
</div>