<!-- BEGIN HEADER -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matthew Brubaker Smith - Web Developer • Graphic Designer</title>
</head>
<body>
<header id="header">
    <img src="images/mbs-logo.svg" alt="Matthew Brubaker Smith's Logo'">
</header>