<!-- BEGIN HEADER -->
<header id="header">
    <div></div>
    <hgroup>
        <h1>MATTHEW BRUBAKER SMITH</h1>
        <h2>WEB DEVELOPER • GRAPHIC DESIGNER</h2>
        <% if(page == 'about' || page == 'portfolio' || page == 'contact') { %>
            <h3><%- page %></h3>
        <% } %>
    </hgroup>
</header>
<!-- END HEADER -->