<!-- BEGIN DIAGRAM -->
<div class="diagram gallery-item">
    <h3>|%title| Diagrams</h3>
    <hr>
    <h4>Object Relational Diagram</h4>
    <img src="./images/|%ord|" alt="|%title| ORD" onclick="toggleModal(event);" />
    <h4>NoSQL Data Structure</h4>
    <img src="./images/|%nosql|" alt="|%title| NoSQL Data Structure" onclick="toggleModal(event);" />
    <h4>NoSQL Document Diagram</h4>
    <img src="./images/|%nosqldoc|" alt="|%title| NoSQL Document Diagram" onclick="toggleModal(event);" />
</div>