<!-- BEGIN PORTFOLIO PAGE -->
<div class="page-container">
    <component data-props='{
        "url": "views/components/page-header.html",
        "props": {
            "title": "Portfolio"
        }
    }'></component>
    <div id="portfolio-gallery" class="gallery">
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "BioSite",
                "link": "https://mattbrubakersmith.github.io/bioSite",
                "image": "biosite-thumb.jpg"
            }
        }'></component>
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "BioSite Prototype",
                "link": "https://mattbrubakersmith.github.io/bioSite/BioSite%20Ideas%20-%20Matt%20Smith.pdf",
                "image": "biosite-prototype-thumb.jpg"
            }
        }'></component>
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "Web 231 Repository",
                "link": "https://github.com/MattBrubakerSmith/web-231",
                "image": "web-231-thumb.jpg"
            }
        }'></component>
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "Personal Portfolio Prototype",
                "link": "https://mattbrubakersmith.github.io/smith-personal-portfolio-prototype.pdf",
                "image": "portfolio-prototype-thumb.jpg"
            }
        }'></component>
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "Web 330 Repository",
                "link": "https://github.com/MattBrubakerSmith/web-330",
                "image": "web-330-thumb.jpg"
            }
        }'></component>
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "API Gateway",
                "link": "https://smith-api-gateway.herokuapp.com/",
                "image": "api-gateway-thumb.jpg"
            }
        }'></component>
        <component data-props='{
            "url": "views/components/portfolio-thumb.html",
            "props": {
                "title": "Bobs Computer Repair Shop",
                "link": "https://mattbrubakersmith.github.io/bobs-computer-repair/",
                "image": "bobs-computer-repair-thumb.jpg"
            }
        }'></component>
    </div>
</div>