<!-- BEGIN DIAGRAMS PAGE -->
<div class="page-container">
    <component data-props='{
        "url": "views/components/page-header.html",
        "props": {
            "title": "Diagrams"
        }
    }'></component>
    <component data-props='{
        "url": "views/components/diagram.html",
        "props": {
            "title": "ORD User Diagram",
            "image": "nosql-data-diagrams/ORD-week-1.jpg"
        }
    }'
    ></component>
    <component data-props='{
        "url": "views/components/diagram.html",
        "props": {
            "title": "NoSQL User Diagram",
            "image": "nosql-data-diagrams/NoSQL-week-1.jpg"
        }
    }'
    ></component>
</div>