<!-- BEGIN PRESENTATIONS PAGE -->
<div class="page-container">
    <component data-props='{
        "url": "views/components/page-header.html",
        "props": {
            "title": "Presentations"
        }
    }'></component>
    <component data-props='{
        "url": "views/components/presentation.html",
        "props": {
            "title": "REST (Representational State Transfer)",
            "video": "restful-api-presentations/smith-presentation-1.3.mp4"
        }
    }'
    ></component>
</div>