<!-- BEGIN PRESENTATIONS PAGE -->
<div class="page-container">
    <component data-props='{
        "url": "views/components/page-header.html",
        "props": {
            "title": "Presentations"
        }
    }'></component>
    <div class="gallery">
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "REST (Representational State Transfer)",
                "video": "restful-api-presentations/smith-presentation-1.3.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "RESTful APIs",
                "video": "restful-api-presentations/smith-presentation-2.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "Introduction to SOAP",
                "video": "restful-api-presentations/smith-presentation-3.3.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "JSON",
                "video": "restful-api-presentations/smith-presentation-4.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "Pull Your Card API",
                "video": "restful-api-presentations/smith-presentation-6.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "SOA & ESB",
                "video": "restful-api-presentations/smith-presentation-7.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "Microservices",
                "video": "restful-api-presentations/smith-presentation-8.3.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "OAuth",
                "video": "restful-api-presentations/smith-presentation-9.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "The Technology Value Stream",
                "video": "devops-presentations/smith-presentation-1.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "The Two-Pizza Team Rule",
                "video": "devops-presentations/smith-presentation-2.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "Testing",
                "video": "devops-presentations/smith-presentation-3.2.mp4"
            }
        }'
        ></component>
        <component data-props='{
            "url": "views/components/presentation.html",
            "props": {
                "title": "Continuous Integration",
                "video": "devops-presentations/smith-presentation-4.2.mp4"
            }
        }'
        ></component>
    </div>
</div>