<!-- BEGIN ABOUT PAGE -->
<section id="about-page" class="page">
    <div class="text-card">
        <div class="text-card-content">
            <h1>Title</h1>
            <div class="text-card-ribbon">
                <div class="text-card-subtitle">Accent</div>
            </div>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra nunc mauris, dignissim ullamcorper erat fermentum a. Ut venenatis ut ipsum maximus convallis. Curabitur non lacinia enim, in interdum quam. Cras in sapien risus. Phasellus vitae nisi ante. Aliquam erat volutpat. Nullam faucibus bibendum enim sit amet maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer et eleifend orci, quis dictum massa.
            </p>
        </div>
        <div class="text-card-ribbon-back"></div>
    </div>
</section>
<!-- END ABOUT PAGE -->